@value bp-tablet from 'shared/styles/breakpoints.module.css';

.actions {
  display: flex;
  justify-content: center;
  gap: 0.35em;
  margin-block: 1em;
  font-size: max(1.25rem, 4vmin);
}

.widebtn {
  min-width: max(8.5rem, 30vmin);
}

.backimg {
  width: 1em;
  height: 1em;
}
.backtxt {
  display: none;
}

@media bp-tablet, (orientation: landscape) {
  .actions {
    gap: 3vmin;
  }

  .backimg {
    display: none;
  }
  .backtxt {
    display: inline;
  }
}
