@value bp-tablet, bp-desktop from 'shared/styles/breakpoints.module.css';

.actions {
  display: flex;
  justify-content: center;
  --button-font-size: 1rem;
}

.backbtn {
  font-size: var(--button-font-size);
  color: var(--color-white);
  background-color: var(--color-orange);
}

.cancelbtn {
  font-size: var(--button-font-size);
  color: var(--color-white);
  background-color: var(--color-red);
}

.submitbtn {
  font-size: var(--button-font-size);
  color: var(--color-white);
  background-color: var(--color-green);
}

.disabledbtn {
  font-size: var(--button-font-size);
  color: var(--color-white);
  background-color: var(--color-dark-gray);
}

.homebtn {
  color: var(--color-white);
  background-color: var(--color-orange);
  font-size: var(--button-font-size);
}

.backimg {
  width: 1em;
  height: 1em;
}

.backtxt {
  display: none;
}

@media bp-tablet {
  .actions {
    --button-font-size: 1.25rem;
  }

  .backimg {
    display: none;
  }

  .backtxt {
    display: inline;
  }
}

@media bp-desktop {
  .actions {
    --button-font-size: 1.75rem;
  }
}
