.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--color-transparent-dark-gray);
}

.content {
  max-width: max(60vw, 30rem);
  max-height: 100vh;
  overflow: auto;
}
