@value bp-tablet, bp-desktop from 'shared/styles/breakpoints.module.css';

.input {
  position: absolute;
  opacity: 0;
}

.label {
  --img-height: 3.125rem;
  --border-radius: 0.625rem;
  --check-height: 1.25rem;
  --title-font-size: 1rem;
  --price-font-size: 0.875rem;
  position: relative;
  display: inline-grid;
  grid-template-areas:
    'image title'
    'image price';
  grid-template-columns: var(--img-height) auto;
  justify-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-gray);
  border-radius: var(--border-radius);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.input:focus + .label {
  outline-style: auto;
}
.input:focus:not(:focus-visible) + .label {
  outline: none;
}

.input:checked + .label {
  background-color: var(--color-green);
}
.input:checked + .label::after {
  position: absolute;
  top: calc(-0.48 * var(--check-height));
  right: calc(-0.4 * var(--check-height));
  content: ' ';
  height: var(--check-height);
  width: var(--check-height);
  background-image: url('/images/check.png');
  background-size: var(--check-height);
}

.image {
  grid-area: image;
  align-self: center;
  width: var(--img-height);
  height: var(--img-height);
}
.image img {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.title {
  grid-area: title;
  align-self: end;
  font-size: var(--title-font-size);
  font-weight: var(--font-weight-semibold);
}

.price {
  grid-area: price;
  align-self: start;
  font-size: var(--price-font-size);
}

@media bp-tablet {
  .label {
    --img-height: 4.0625rem;
    --check-height: 1.5625rem;
    --title-font-size: 1.25rem;
    --price-font-size: 1rem;
  }
}

@media bp-desktop {
  .label {
    --img-height: 4.6875rem;
    --check-height: 1.875rem;
  }
}
