@value bp-desktop from 'shared/styles/breakpoints.module.css';

.container {
  --price-font-size: max(1.25rem, 4vmin);
  align-self: center;
  display: grid;
  place-items: center;
}

.preview {
  display: none;
}

.price {
  width: fit-content;
  margin-top: 0.5em;
  padding: 0.2em 0.5em;
  background-color: var(--color-yellow);
  font-weight: var(--font-weight-bold);
  font-size: var(--price-font-size);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

@media bp-desktop {
  .container {
    --preview-height: calc(0.9 * var(--desktop-col1-width));
    background-image: var(--color-yellow-orange-gradient);
  }

  .preview {
    position: relative;
    display: block;
    width: var(--preview-height);
    height: var(--preview-height);
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
  }

  .price {
    background-color: transparent;
    box-shadow: none;
  }
}
