.button {
  --button-height: 1.8em;
  display: inline-block;
  min-height: var(--button-height);
  line-height: var(--button-height);
  padding-inline: 0.5em;
  border: none;
  border-radius: 100vmin;
  box-shadow: var(--box-shadow);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}

.button:not(:disabled) {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.button:disabled {
  color: var(--color-white);
  background-color: var(--color-dark-gray);
}

.orange {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.red {
  color: var(--color-white);
  background-color: var(--color-red);
}

.green {
  color: var(--color-white);
  background-color: var(--color-green);
}

.yellow {
  color: var(--color-dark-gray);
  background-color: var(--color-yellow);
}
