@value bp-tablet, bp-desktop, bp-landscape from 'shared/styles/breakpoints.module.css';

.container {
  --header-height: 4.6875rem;
  --logo-height: 3.75rem;
  --brand-font-size: 2rem;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--header-height);
  color: var(--color-yellow);
  background-image: var(--color-red-gradient);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header h1 {
  font-family: var(--font-family-brand);
  font-size: var(--brand-font-size);
}

.logo {
  height: var(--logo-height);
  width: var(--logo-height);
}

@media bp-tablet {
  .container {
    --header-height: 6.25rem;
    --logo-height: 5rem;
    --brand-font-size: 2.25rem;
  }
}
