@value bp-desktop from 'shared/styles/breakpoints.module.css';

.container {
}

.start {
}

.validation {
}

@media bp-desktop {
  .start {
    display: grid;
    grid-template-columns: 24rem auto;
    grid-template-rows: repeat(3, auto);
  }

  .start > :first-child {
    grid-row: span 3;
  }
}
