@value bp-desktop from 'shared/styles/breakpoints.module.css';

.container {
  min-height: calc(100vh - var(--header-min-height));
}

.start {
}

.validation {
}

.end {
}

@media bp-desktop {
  .start {
    display: grid;
    grid-template-columns: 24rem auto;
    grid-template-rows: repeat(3, auto);
    align-items: center;
  }

  .start > :first-child {
    grid-row: span 3;
  }
}
