@value bp-tablet, bp-desktop from 'shared/styles/breakpoints.module.css';

.contact {
  --contact-gap: 0.5em;
  max-width: max(30rem, 40vw);
  min-height: min(10rem, 40vmin);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: var(--contact-gap);
  padding: var(--contact-gap);
  margin-inline: auto;
  background-color: var(--color-transparent-white);
  border-radius: 0.625rem;
}

.info {
  --title-font-size: 1.25rem;
  --text-font-size: 1rem;
  --info-gap: 0.75em;
  text-align: center;
  font-size: var(--text-font-size);
}

.info p:first-child {
  margin-bottom: var(--info-gap);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size);
}

.info p:last-child {
  margin-top: var(--info-gap);
}

@media bp-tablet {
  .info {
    --title-font-size: 1.5rem;
    --text-font-size: 1.25rem;
  }
}

@media bp-desktop {
  .info {
    --title-font-size: 1.75rem;
    --text-font-size: 1.5rem;
  }
}
