@value bp-landscape from 'shared/styles/breakpoints.module.css';

.cta {
  --cta-font-size: clamp(1.25rem, 4vmin, 4vmin);
  --cta-max-width: max(45rem, 80vw);
  --cta-margin-block: 10vh;
  display: grid;
  place-items: center;
  gap: clamp(0.8em, 3.6vmin, 3.6vmin);
  max-width: var(--cta-max-width);
  margin-block: var(--cta-margin-block);
  margin-inline: auto;
  padding: clamp(1em, 5vh, 5vh);
  color: var(--color-dark-red);
  background-color: var(--color-transparent-yellow);
  border-radius: min(0.625rem, calc(100vw - min(100vw, var(--cta-max-width))));
  font-weight: var(--font-weight-semibold);
  font-size: var(--cta-font-size);
  text-align: center;
}

.cta p {
  max-width: 35ch;
}

.button {
  padding-inline: 1.5em !important;
  color: var(--color-white);
  background-color: var(--color-orange);
  font-size: var(--cta-font-size);
}

@media bp-landscape {
  .cta {
    --cta-margin-block: 5vh;
  }
}
