.choice {
  --check-height: max(1rem, 3vmin);
  --border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  font-size: max(1rem, 3vmin);
  font-weight: var(--font-weight-semibold);
}

.input {
  position: absolute;
  opacity: 0;
}

.label {
  cursor: pointer;
  position: relative;
  padding: 0.5em;
  text-align: center;
  background-color: var(--color-transparent-white);
  box-shadow: var(--box-shadow);
}
.choice label:first-of-type {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.choice label:last-of-type {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.input:focus + .label {
  outline-style: auto;
}
.input:focus:not(:focus-visible) + .label {
  outline: none;
}

.input:checked + .label {
  background-color: var(--color-green);
}
.input:checked + .label::after {
  position: absolute;
  top: calc(-0.55 * var(--check-height));
  right: calc(-0.35 * var(--check-height));
  content: ' ';
  height: var(--check-height);
  width: var(--check-height);
  background-image: url('/images/check.png');
  background-size: var(--check-height);
}
