.group {
  display: flex;
  flex-wrap: wrap;
  gap: max(0.125rem, 1vmin);
  justify-content: center;
}

.title {
  flex-basis: 100%;
  margin-top: 1em;
  text-align: center;
  font-size: max(1.25rem, 4vmin);
  font-weight: var(--font-weight-bold);
}
